* {
	box-sizing: border-box;
}

body {
	background: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
	color: #292929;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

a {
	color: #292929;
}

a.active {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 20px 0px;
}

.content {
	margin-top: 80px;
	margin-bottom: 80px;
}

header {
    padding:8px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
    background-color: #DDDDDD;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header img {
    height: 25px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

#nav a {
	color: #000000;
	text-decoration: none;
}

#nav a:hover {
	cursor: "pointer";
	text-decoration: underline;
}

#nav a.active {
	text-decoration: underline;
}

#nav ul {
	float: right;
	margin: 0px;
	line-height: 30px;
}

#nav li {
	display: inline;
	margin-right: 10px;
}

footer {
    text-align:center;
    position:fixed;
    top:100%;
    left:0;
    right:0;
    z-index:10;
    margin-top:-47px;
    background-color: #DDDDDD;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
footer small {
	margin-right: 15px;
	line-height: 30px;
}

footer a {
	line-height: 55px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	color: #292929;
}

footer a:hover {
	color: #FFFFFF;
}

.shadow-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 640px) {
    body {
    	font-size: 12px;
    }

    header {
    	padding-left:0px;
    	padding-right:0px;
	}

	header img {
    	margin-left: 0px;
    	margin-right: 0px;
	}

	#nav li {
		margin-right: 5px;
	}

	.container {
		padding: 0px 10px 0px;
	}
}
